<section class="ui raised segment">
  <div class="ui grid">
    <table class="ui celled compact table segment">
      <thead>
        <tr>
          <th>msi</th>
          <th>x1</th>
          <th>y1</th>
          <th>x1</th>
          <th>y2</th>
          <th>x3</th>
          <th>y3</th>
          <th>x4</th>
          <th>y4</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</section>