<nav class="ui inverted menu">
  <header class="header item"><a href="/"> Marine Plotter</a></header>
  <div class="right menu">
   <a id="plot" class="item" href="/plot"> Plot </a>
    <a id="report" class="item" href="/report"> Report </a>
  </div>
</nav>

<script>
  $("#{{_id}}").addClass("active item");
</script>
