<nav>
    <div class="ui fluid two item menu">
        <a class="item" href="/plot">HOME</a>
        <a class="item" href="/report">DATA</a>
    </div>
</nav>


<script>
  $("#{{_id}}").addClass("active item");
</script>
