<div class="ui grid">
    <div class="five wide column"></div>
    <div class="six wide column" style="font-size: medium; font-family: 'Avenir Next'; padding: 40px;">
        <div class="ui negative message transition">
            <div class="header">
      Error fetching ship data from Marine Traffic, try a different ship.
    </div>
        </div>
  </div>