{{#if error}}
  <div class="ui negative message transition">
    <i class="close icon"></i>
    <div class="header">
      Error fetching Mie data..
    </div>
    <ul class="list">
      <li>{{message}}</li>
    </ul>
  </div>
{{/if}}