<form class="ui form" action="/plot" method="POST">
    <div class="ui action input loading">
        <input placeholder="MMSI" type="text" name="msi">
        <button class="ui icon button"
                onClick="$('#timer').addClass('active');$('#form').submit();">
            <i class="anchor icon"></i>
        </button>
    </div>
</form>


