<nav class="ui inverted menu">
  <header class="header item"><a href="/"> Marine Tracker </a></header>
  <div class="right menu">
    <a class="item" href="/map"> Map</a>
    <a class="active item" href="/report"> Grid </a>
  </div>
</nav>

{{> mieform}}
{{> courselist }}
