<nav class="ui inverted menu">
    <header class="header item"><a href="/"> Marine Plotter</a></header>
  <div class="right menu">
    <a class="item" href="/map"> Map</a>
    <a class="active item" href="/report"> Grid </a>
      <a class="item" href="/plot"> Plot </a>

  </div>
</nav>

{{> mieform}}
{{> courselist }}
